
html, body {
  overflow-x: hidden;
  width:100%;
}
.wrapper{
  /*background-color: blue;*/
}
.placeholder{
  background-color: #C7C7C7;
  color:white;
  height:100%;
  text-align: center;
}
#banner-img{
  background-size: cover;
  height: 50vh;
}
.section{
  padding: 15px 50px;
}
footer{
  background-color: black;
  color: white;
  height: 5vh;
  text-align: center;
}

.nav{
  background-color: black;
}

.page-banner{
  height: 20vh;
}

.info-box{
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}
